{% extends 'base.html' %}
{% block title %}
About
{% endblock title %}


{% block body %}

{% load static %}

<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>About Us</h2>
        <p>At VAPT Scanning Website, we are dedicated to helping businesses secure their online assets through comprehensive vulnerability assessments and penetration testing. We understand the importance of safeguarding sensitive data and ensuring that online systems are protected from potential threats.</p>
      </br>
      <h3>Mission</h3>
      <p>Help our customers easily detect and understand vulnerabilities in their systems and infrastructures.</p>
    </br>
     
      <h3>Vision</h3>
      <p>Build the most intuitive and easy-to-use penetration testing and vulnerability assessment platform.</p>
    </br>
      <h2>Our values</h2>
    </br>
  </br>
      <h3>Ethics</h3>
      <p>We are committed to stick to the White side of hacking and we do not encourage any unethical activities.</p>
    </br>
      <h3>Trust</h3>
      <p>We deliver what we promise and we value our customers' trust in everything we do.</p>
    </br>
      <h3>Quality</h3>
      <p>We don't like poorly written software and unreliable results. That's why we strive to build a platform our users can always rely on.</p>
    </div>
    </div>
    </div>


      

    </div>
  </section><!-- End About Us Section -->
{% endblock body %}
