{% extends 'base.html' %}
{% block title %}
Team
{% endblock title %}


{% block body %}
{% load static %}
<!-- ======= Our Team Section ======= -->
<section id="team" class="team">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Our Team</h2>
    </div>

    <div class="row gy-4">

      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <img src="https://upcdn.io/FW25bCF/raw/JASMIT%20(2).jpg" class="img-fluid" alt="my image">
          <h4>JASMIT VAGHASIYA</h4>
          <span></span>
          <div class="social">
            <a href="https://www.linkedin.com/in/jasmit-vaghasiya-b24bb81b3/"><i class="bi bi-linkedin"></i></a>
            <a href="https://github.com/Jasmit9199"><i class="bi bi-github"></i></a>
            <a href="https://twitter.com/VaghasiyaJasmit"><i class="bi bi-twitter"></i></a>
           
          </div>
        </div>
      </div><!-- End Team Member -->

      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <img src="https://upcdn.io/FW25bCF/raw/GATHIYP.jpg" class="img-fluid" alt="my imag">
          <h4>PARTH VIRANI </h4>
          <span></span>
          <div class="social">
            <a href="https://www.linkedin.com/in/parth-virani-2500461b9/"><i class="bi bi-linkedin"></i></a>
            <a href="https://github.com/parth1886"><i class="bi bi-github"></i></a>
            <a href="https://twitter.com/parth0083"><i class="bi bi-twitter"></i></a>
          </div>
        </div>
      </div><!-- End Team Member -->

      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <img src="https://upcdn.io/FW25bCF/raw/zala.jpg" class="img-fluid" alt="my image">
          <h4> VISHWAS ZALAVADIYA </h4>
          <span></span>
          <div class="social">
            <a href="https://www.linkedin.com/in/vishwas-zalavadiya-68082a258/"><i class="bi bi-linkedin"></i></a>
            <a href="https://github.com/VishwasZalavadiya"><i class="bi bi-github"></i></a>
            <a href="https://twitter.com/Vishwaszalavad1"><i class="bi bi-twitter"></i></a>
          
          </div>
        </div>
      </div><!-- End Team Member -->

      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
        <div class="member">
          <img src="https://upcdn.io/FW25bCF/raw/voro.jpg" class="img-fluid" alt="lodu ">
          <h4>VORA AVADH</h4>
          <span></span>
          <div class="social">
            <a href="https://www.linkedin.com/in/avadh-vora-68726324b/"><i class="bi bi-linkedin"></i></a>
            <a href="https://github.com/Avadhvora/alpha"><i class="bi bi-github"></i></a>
            <a href="https://twitter.com/VoraAvadh"><i class="bi bi-twitter"></i></a>
       
          </div>
        </div>
      </div><!-- End Team Member -->

    </div>

  </div>
</section><!-- End Our Team Section -->
{% endblock body %}
